body {
  font-family: "proxima-nova", sans-serif;
}

.header {
  text-align: center;
}

.btn-items {
  float: right;
}

.btn {
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  background-color: #16214D;
  color: white;
}
.btn:hover {
  background-color: #44C7F4;
}
.btn:focus {
  outline: none !important;
}
.btn.btn-lg {
  padding: 20px 30px;
}

h1,
h2,
h3 {
  font-weight: 100;
}
#logo img {
  width: 300px;
  margin-bottom: 60px;
}
.home-description {
  font-weight: 100;
  margin: 100px 0;
}
h2 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 200%;
}
label {
  font-size: 100%;
  font-weight: 300;
}
.btn-next {
  margin-top: 30px;
}
.answer {
  width: 70%;
  margin: auto;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 20px;
}
.login-page .login-box {
  padding: 100px 0;
}

.btn-login {
  margin: 5px 10px;
}

.btnEdit {
  -moz-box-shadow:inset 0px 39px 0px -24px #f9eca0;
  -webkit-box-shadow:inset 0px 39px 0px -24px #f9eca0;
  box-shadow:inset 0px 39px 0px -24px #f9eca0;
  background-color:#f0c911;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ded17c;
}
.btnEdit:hover {
  background-color:#f2ab1e;
}
.btnEdit:active {
  position:relative;
  top:1px;
}

.btnDelete {
  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.btnDelete:hover {
  background-color:#eb675e;
}
.btnDelete:active {
  position:relative;
  top:1px;
}

.btnUpdate {
  -moz-box-shadow:inset 0px 39px 0px -24px #3dc21b;
  -webkit-box-shadow:inset 0px 39px 0px -24px #3dc21b;
  box-shadow:inset 0px 39px 0px -24px #3dc21b;
  background-color:#44c767;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.btnUpdate:hover {
  background-color:#5cbf2a;
}
.btnUpdate:active {
  position:relative;
  top:1px;
}





ul {
  list-style-type: none;
  padding-left: 0;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.list-user-img {
  width:100px;
  height:100px;
  float: left;
  margin: 0px 15px 30px 0px;
  border-radius: 80px;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
}

.like {
  font-size: 20px;
  color:green;
  margin-right: 15px
}

.dislike {
  font-size: 20px;
  color:red;
}

.error-message {
  color: #db4437;
}

.avatar {
  width:120px;
  height:120px;
}

.icon-error {
  color: red;
  text-align: center;
}