{% extends 'layout.html' %}

{% block content %}
<div class="login-page clearfix">
  <div class="logged-in-box auth0-box logged-in">
    <img class="avatar" src="{{user['picture']}}"/>
    <h2>Welcome {{user['nickname']}}</h2>
    <a href="{{url_for('logout')}}" class="btn btn-primary">Logout</a>
    <a href="{{url_for('addjoke')}}" class="btn btn-primary">Add a joke</a>
    <a href="{{url_for('myjokes')}}" class="btn btn-primary">Your jokes</a>
    <h2>Latest Jokes</h2>
    <ul>
        {% for joke in jokes %}
        <li>
        <img class="list-user-img" src="http://via.placeholder.com/100x100" >
            <p>{{joke['joke']}}</p>
            <h4>By: The Grasslands</h4>
            <h4>0</h4>
            <a class="like" href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
            <a class="dislike" href=""><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
            <div class="btn-items">
                <button class="btn-warning">Edit</button>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}