{% extends 'layout.html' %}

{% block content %}
<div class="login-page clearfix">
    <div class="login-box auth0-box before">
        <div class="header">
        	<h3>Jokes App</h3>
        	<p>A bunch of jokes here</p>
        </div>
        <ul>
          {% for joke in jokes %}
          <li>
                <img class="list-user-img" src="{{joke['image']}}" >
                <p>{{joke['joke']}}</p>
                <h4>By: {{joke['nickname']}}</h4>
                <h4>Rating: {{joke['total']}}</h4>
                <p>Posted on: {{joke['posting_date']}}</p>
                <a class="like" href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                <a class="dislike" href=""><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
          </li>
          {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
